In [1]:
import pandas as pd
from functions_variables import *

# COMMODITIES

In [2]:
oil_df = createFeatureDataFrame('../data/raw/commodity/Crude Oil WTI Futures Historical Data.csv', 'WTI Price')
ng_df = createFeatureDataFrame('../data/raw/commodity/Natural Gas Futures Historical Data.csv', 'Natural Gas Price')
al_df = createFeatureDataFrame('../data/raw/commodity/Aluminium Historical Data.csv', 'Aluminum Price')
copper_df = createFeatureDataFrame('../data/raw/commodity/Copper Futures Historical Data.csv', 'Copper Price')
gold_df = createFeatureDataFrame('../data/raw/commodity/Gold Futures Historical Data.csv', 'Gold Price')
plat_df = createFeatureDataFrame('../data/raw/commodity/Platinum Futures Historical Data.csv', 'Platinum Price')
silver_df = createFeatureDataFrame('../data/raw/commodity/Silver Futures Historical Data.csv', 'Silver Price')
lumber_df = createFeatureDataFrame('../data/raw/commodity/Lumber Futures Historical Data.csv', 'Lumber Price')

In [3]:
commodity_df = oil_df.merge(ng_df, on='Date', how='outer')\
                    .merge(al_df, on='Date', how='outer')\
                    .merge(copper_df, on='Date', how='outer')\
                    .merge(gold_df, on='Date', how='outer')\
                    .merge(plat_df, on='Date', how='outer')\
                    .merge(silver_df, on='Date', how='outer')\
                    .merge(lumber_df, on='Date', how='outer')

In [4]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          2679 non-null   float64
 2   Natural Gas Price  2676 non-null   float64
 3   Aluminum Price     2452 non-null   object
 4   Copper Price       2628 non-null   float64
 5   Gold Price         2631 non-null   object
 6   Platinum Price     3155 non-null   object
 7   Silver Price       2615 non-null   float64
 8   Lumber Price       2608 non-null   object
dtypes: float64(4), object(5)
memory usage: 224.7+ KB

In [5]:
commodity_df.isnull().sum()

Date                   0
WTI Price            515
Natural Gas Price    518
Aluminum Price       742
Copper Price         566
Gold Price           563
Platinum Price        39
Silver Price         579
Lumber Price         586
dtype: int64

In [6]:
# Fill missing values
commodity_df.ffill(inplace=True)
commodity_df

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price
0,2014-01-01,98.70,4.232,NaN,NaN,NaN,"1,377.05",NaN,NaN
1,2014-01-02,95.44,4.321,NaN,3.3815,"1,225.20","1,402.30",20.128,353.30
2,2014-01-03,93.96,4.304,NaN,3.3550,"1,238.60","1,412.45",20.211,356.80
3,2014-01-05,93.96,4.304,NaN,3.3550,"1,238.60","1,407.30",20.211,356.80
4,2014-01-06,93.43,4.306,NaN,3.3595,"1,238.00","1,415.60",20.103,352.00
...,...,...,...,...,...,...,...,...,...
3189,2024-02-21,77.91,1.773,"2,219.50",3.8750,"2,034.30",889.60,22.874,560.50
3190,2024-02-22,78.61,1.732,"2,198.00",3.8970,"2,030.70",905.50,22.784,564.50
3191,2024-02-23,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,564.50
3192,2024-02-24,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,563.50
3193,2024-02-25,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,563.50

In [7]:
commodity_df.isnull().sum()

Date                   0
WTI Price              0
Natural Gas Price      0
Aluminum Price       141
Copper Price           1
Gold Price             1
Platinum Price         0
Silver Price           1
Lumber Price           1
dtype: int64

In [8]:
commodity_df.bfill(inplace=True)
commodity_df

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price
0,2014-01-01,98.70,4.232,"1,840.25",3.3815,"1,225.20","1,377.05",20.128,353.30
1,2014-01-02,95.44,4.321,"1,840.25",3.3815,"1,225.20","1,402.30",20.128,353.30
2,2014-01-03,93.96,4.304,"1,840.25",3.3550,"1,238.60","1,412.45",20.211,356.80
3,2014-01-05,93.96,4.304,"1,840.25",3.3550,"1,238.60","1,407.30",20.211,356.80
4,2014-01-06,93.43,4.306,"1,840.25",3.3595,"1,238.00","1,415.60",20.103,352.00
...,...,...,...,...,...,...,...,...,...
3189,2024-02-21,77.91,1.773,"2,219.50",3.8750,"2,034.30",889.60,22.874,560.50
3190,2024-02-22,78.61,1.732,"2,198.00",3.8970,"2,030.70",905.50,22.784,564.50
3191,2024-02-23,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,564.50
3192,2024-02-24,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,563.50
3193,2024-02-25,76.49,1.603,"2,180.00",3.8800,"2,049.40",909.60,22.982,563.50

In [9]:
commodity_df.isnull().sum()

Date                 0
WTI Price            0
Natural Gas Price    0
Aluminum Price       0
Copper Price         0
Gold Price           0
Platinum Price       0
Silver Price         0
Lumber Price         0
dtype: int64

In [10]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   object
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   object
 6   Platinum Price     3194 non-null   object
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   object
dtypes: float64(4), object(5)
memory usage: 224.7+ KB

In [11]:
def currency_to_float(currency):
    return float(currency.replace(',', ''))

In [12]:
columns_to_convert = ['Aluminum Price', 'Gold Price', 'Platinum Price', 'Lumber Price']
commodity_df[columns_to_convert] = commodity_df[columns_to_convert].map(currency_to_float)

In [13]:
commodity_df

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price
0,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3
1,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3
2,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8
3,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8
4,2014-01-06,93.43,4.306,1840.25,3.3595,1238.0,1415.60,20.103,352.0
...,...,...,...,...,...,...,...,...,...
3189,2024-02-21,77.91,1.773,2219.50,3.8750,2034.3,889.60,22.874,560.5
3190,2024-02-22,78.61,1.732,2198.00,3.8970,2030.7,905.50,22.784,564.5
3191,2024-02-23,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,564.5
3192,2024-02-24,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5
3193,2024-02-25,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5

In [14]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   float64
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   float64
 6   Platinum Price     3194 non-null   float64
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.7+ KB

In [15]:
commodity_df.to_csv('../data/combined/commodity_prices_2014_2023.csv', index=False)

# CURRENCY

In [16]:
CADJPY_df = createFeatureDataFrame('../data/raw/currency/CAD_JPY Historical Data.csv', 'CADJPY')
CADEUR_df = createFeatureDataFrame('../data/raw/currency/EUR_CAD Historical Data.csv', 'EURCAD')
CADGBP_df = createFeatureDataFrame('../data/raw/currency/GBP_CAD Historical Data.csv', 'GBPCAD')
CADUSD_df = createFeatureDataFrame('../data/raw/currency/USD_CAD Historical Data.csv', 'USDCAD')

In [17]:
currency_df = CADJPY_df.merge(CADEUR_df, on='Date', how='outer')\
                    .merge(CADGBP_df, on='Date', how='outer')\
                    .merge(CADUSD_df, on='Date', how='outer')

In [18]:
currency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2649 entries, 0 to 2648
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2649 non-null   object
 1   CADJPY  2648 non-null   float64
 2   EURCAD  2648 non-null   float64
 3   GBPCAD  2649 non-null   float64
 4   USDCAD  2648 non-null   float64
dtypes: float64(4), object(1)
memory usage: 103.6+ KB

In [19]:
currency_df.isnull().sum()

Date      0
CADJPY    1
EURCAD    1
GBPCAD    0
USDCAD    1
dtype: int64

In [20]:
currency_df.ffill(inplace=True)

In [21]:
currency_df

            Date  CADJPY  EURCAD  GBPCAD  USDCAD
0     2014-01-01   98.88  1.4640  1.7634  1.0644
1     2014-01-02   98.18  1.4589  1.7558  1.0671
2     2014-01-03   98.59  1.4452  1.7460  1.0635
3     2014-01-06   97.81  1.4522  1.7481  1.0655
4     2014-01-07   97.18  1.4658  1.7658  1.0766
...          ...     ...     ...     ...     ...
2644  2024-02-20  110.89  1.4606  1.7060  1.3520
2645  2024-02-21  111.27  1.4608  1.7062  1.3505
2646  2024-02-22  111.64  1.4590  1.7066  1.3481
2647  2024-02-23  111.42  1.4610  1.7112  1.3505
2648  2024-02-25  111.42  1.4610  1.7119  1.3505

[2649 rows x 5 columns]

In [22]:
currency_df.isnull().sum()

Date      0
CADJPY    0
EURCAD    0
GBPCAD    0
USDCAD    0
dtype: int64

In [23]:
currency_df.to_csv('../data/combined/currency_prices_2014_2023.csv', index=False)

# INDEX

In [24]:
dax_df = createFeatureDataFrame('../data/raw/index/DAX Historical Data.csv', 'DAX')
stoxx_df = createFeatureDataFrame('../data/raw/index/Euro Stoxx 50 Historical Data.csv', 'STOXX 50')
ftse_df = createFeatureDataFrame('../data/raw/index/FTSE 100 Historical Data.csv', 'FTSE 100')
nasdaq_df = createFeatureDataFrame('../data/raw/index/NASDAQ Composite Historical Data.csv', 'NASDAQ')
nikkei_df = createFeatureDataFrame('../data/raw/index/Nikkei 225 Historical Data.csv', 'Nikkei 225')
russell_df = createFeatureDataFrame('../data/raw/index/Russell 2000 Historical Data.csv', 'Russell 2000')
sp_df = createFeatureDataFrame('../data/raw/index/S&P 500 Historical Data.csv', 'S&P 500')
tsx_df = createFeatureDataFrame('../data/raw/index/S&P_TSX Composite Historical Data.csv', 'TSX')

In [25]:
index_df = dax_df.merge(stoxx_df, on='Date', how='outer')\
                    .merge(ftse_df, on='Date', how='outer')\
                    .merge(nasdaq_df, on='Date', how='outer')\
                    .merge(nikkei_df, on='Date', how='outer')\
                    .merge(russell_df, on='Date', how='outer')\
                    .merge(sp_df, on='Date', how='outer')\
                    .merge(tsx_df, on='Date', how='outer')

In [26]:
index_df.isnull().sum()

Date              0
DAX              92
STOXX 50         63
FTSE 100        103
NASDAQ          114
Nikkei 225      160
Russell 2000    100
S&P 500         114
TSX             121
dtype: int64

In [27]:
index_df.ffill(inplace=True)

In [28]:
index_df.bfill(inplace=True)

In [29]:
index_df.isnull().sum()

Date            0
DAX             0
STOXX 50        0
FTSE 100        0
NASDAQ          0
Nikkei 225      0
Russell 2000    0
S&P 500         0
TSX             0
dtype: int64

In [30]:
index_df

,Date,DAX,STOXX 50,FTSE 100,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX
0,2014-01-02,"9,400.04","3,059.93","6,717.91","4,143.07","15,908.88","1,150.72","1,831.98","13,594.19"
1,2014-01-03,"9,435.15","3,074.43","6,730.67","4,131.91","15,908.88","1,156.09","1,831.37","13,548.86"
2,2014-01-06,"9,428.00","3,069.16","6,730.73","4,113.68","15,908.88","1,147.16","1,826.77","13,495.54"
3,2014-01-07,"9,506.20","3,110.96","6,755.45","4,153.18","15,814.37","1,157.63","1,837.88","13,596.93"
4,2014-01-08,"9,497.84","3,110.66","6,721.78","4,165.61","16,121.45","1,157.46","1,837.49","13,614.63"
...,...,...,...,...,...,...,...,...,...
2662,2024-02-19,"17,092.26","4,763.07","7,728.50","15,775.65","38,470.38","2,032.74","5,005.57","21,255.61"
2663,2024-02-20,"17,068.43","4,760.28","7,719.21","15,630.78","38,363.61","2,004.14","4,975.51","21,217.53"
2664,2024-02-21,"17,118.12","4,775.31","7,662.51","15,580.87","38,262.16","1,994.74","4,981.80","21,172.38"
2665,2024-02-22,"17,370.45","4,855.36","7,684.49","16,041.62","39,098.68","2,013.84","5,087.03","21,318.08"
2666,2024-02-23,"17,419.33","4,872.57","7,706.28","15,996.82","39,098.68","2,016.69","5,088.80","21,413.15"

In [31]:
index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2667 non-null   object
 1   DAX           2667 non-null   object
 2   STOXX 50      2667 non-null   object
 3   FTSE 100      2667 non-null   object
 4   NASDAQ        2667 non-null   object
 5   Nikkei 225    2667 non-null   object
 6   Russell 2000  2667 non-null   object
 7   S&P 500       2667 non-null   object
 8   TSX           2667 non-null   object
dtypes: object(9)
memory usage: 187.6+ KB

In [32]:
def currency_to_float(currency):
    return currency.replace(',', '')

In [33]:
index_df[index_df.columns.difference(['Date'])] = index_df[index_df.columns.difference(['Date'])].applymap(currency_to_float)

/var/folders/vl/xjjnctgs1s30y4rth02ltgm00000gn/T/ipykernel_8258/3461199408.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  index_df[index_df.columns.difference(['Date'])] = index_df[index_df.columns.difference(['Date'])].applymap(currency_to_float)

In [34]:
index_df.to_csv('../data/combined/index_prices_2014_2023.csv', index=False)

# ECONOMY

In [35]:
gdp_df = statscanTranspose('../data/raw/economy/monthly/canada_gdp_jan_2014_feb_2024_formatted.csv')
cpi_df = statscanTranspose('../data/raw/economy/monthly/canada_cpi_jan_2014_apr_2024_formatted.csv')
hpi_df = statscanTranspose('../data/raw/economy/monthly/canada_new_housing_price_index_jan_2014_apr_2024_formatted.csv')
trade_balance_df = statscanTranspose('../data/raw/economy/monthly/canada_trade_balance_jan_2014_mar_2024_formatted.csv')
unemployment_rate_df = statscanTranspose('../data/raw/economy/monthly/canada_unemployment_rate_jan_2014_apr_2024_formatted.csv')
wholesale_sales_df = statscanTranspose('../data/raw/economy/monthly/canada_wholesale_sales_jan_2014_mar_2024_formatted.csv')

In [36]:
merged_df = gdp_df.merge(cpi_df, on='Date', how='inner')\
                    .merge(hpi_df, on='Date', how='inner')\
                    .merge(trade_balance_df, on='Date', how='inner')\
                    .merge(unemployment_rate_df, on='Date', how='inner')\
                    .merge(wholesale_sales_df, on='Date', how='inner')

In [37]:
def get_feature_name(data):
    return data.columns[1]

In [38]:
economy_df = merged_df[['Date', 
                        get_feature_name(gdp_df),
                        get_feature_name(cpi_df), 
                        get_feature_name(hpi_df),
                        get_feature_name(trade_balance_df),
                        get_feature_name(unemployment_rate_df),
                        get_feature_name(wholesale_sales_df)
                        ]]
economy_df

,Date,All industries [T001] 4,All-items,Total (house and land),All countries,Both sexes 15 years and over,Wolsl tr [41]
0,2014-01-31,1863035.0,123.1,94.1,41334.2,7.7,50184932.0
1,2014-02-28,1872372.0,124.1,94.4,42647.0,7.6,51341689.0
2,2014-03-31,1877319.0,124.8,94.5,42944.6,7.6,51356479.0
3,2014-04-30,1881089.0,125.2,94.7,43410.0,7.4,51556167.0
4,2014-05-31,1892936.0,125.8,94.8,44711.2,7.4,52873888.0
...,...,...,...,...,...,...,...
117,2023-10-31,2201568.0,158.6,124.7,63345.9,5.3,127097011.0
118,2023-11-30,2206369.0,158.8,124.4,64359.6,5.3,122568401.0
119,2023-12-31,2203489.0,158.3,124.4,64374.7,5.3,116850619.0
120,2024-01-31,2215040.0,158.3,124.3,62379.9,6.1,117287179.0
121,2024-02-29,2218374.0,158.8,124.4,65620.8,6.0,119995359.0

In [39]:
economy_df.rename(columns={'All industries  [T001] 4': 'GDP', 
                           'All-items': 'CPI', 
                           'Total (house and land)': 'HPI', 
                           'All countries': 'Trade Balance',
                           'Both sexes 15 years and over': 'Unemployment',
                           'Wolsl tr  [41]': 'Wholesale Trade'  
                           }, inplace= True)

/var/folders/vl/xjjnctgs1s30y4rth02ltgm00000gn/T/ipykernel_8258/2286071719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  economy_df.rename(columns={'All industries  [T001] 4': 'GDP',

In [40]:
economy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             122 non-null    datetime64[ns]
 1   GDP              122 non-null    float64
 2   CPI              122 non-null    float64
 3   HPI              122 non-null    float64
 4   Trade Balance    122 non-null    float64
 5   Unemployment     122 non-null    float64
 6   Wholesale Trade  122 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 6.8 KB

In [41]:
economy_df

,Date,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade
0,2014-01-31,1863035.0,123.1,94.1,41334.2,7.7,50184932.0
1,2014-02-28,1872372.0,124.1,94.4,42647.0,7.6,51341689.0
2,2014-03-31,1877319.0,124.8,94.5,42944.6,7.6,51356479.0
3,2014-04-30,1881089.0,125.2,94.7,43410.0,7.4,51556167.0
4,2014-05-31,1892936.0,125.8,94.8,44711.2,7.4,52873888.0
...,...,...,...,...,...,...,...
117,2023-10-31,2201568.0,158.6,124.7,63345.9,5.3,127097011.0
118,2023-11-30,2206369.0,158.8,124.4,64359.6,5.3,122568401.0
119,2023-12-31,2203489.0,158.3,124.4,64374.7,5.3,116850619.0
120,2024-01-31,2215040.0,158.3,124.3,62379.9,6.1,117287179.0
121,2024-02-29,2218374.0,158.8,124.4,65620.8,6.0,119995359.0

In [42]:
us_gdp_df = pd.read_csv('../data/raw/economy/quarterly/united_states_gdp_q1_1947_q1_2024.csv')
us_gdp_df

           DATE               US_GDP
0    1947-01-01              243.164
1    1947-04-01              245.968
2    1947-07-01              249.585
3    1947-10-01              259.745
4    1948-01-01              265.742
..          ...                  ...
307  2023-10-01            27956.998
308  2024-01-01            28284.498
309         NaN                  NaN
310         NaN                  NaN
311         NaN  Billions of dollars

[312 rows x 2 columns]

In [43]:
us_gdp_df['DATE'] = pd.to_datetime(us_gdp_df['DATE'])

In [44]:
start_date = '2013-10-01'
end_date = '2024-01-01'
mask = (us_gdp_df['DATE'] >= start_date) & (us_gdp_df['DATE'] <= end_date)
filtered_df = us_gdp_df[mask]
filtered_df

          DATE     US_GDP
267 2013-10-01  17192.019
268 2014-01-01  17197.738
269 2014-04-01  17518.508
270 2014-07-01  17804.228
271 2014-10-01  17912.079
272 2015-01-01  18063.529
273 2015-04-01  18279.784
274 2015-07-01  18401.626
275 2015-10-01  18435.137
276 2016-01-01  18525.933
277 2016-04-01  18711.702
278 2016-07-01  18892.639
279 2016-10-01  19089.379
280 2017-01-01  19280.084
281 2017-04-01  19438.643
282 2017-07-01  19692.595
283 2017-10-01  20037.088
284 2018-01-01  20328.553
285 2018-04-01  20580.912
286 2018-07-01   20798.73
287 2018-10-01  20917.867
288 2019-01-01  21104.133
289 2019-04-01  21384.775
290 2019-07-01  21694.282
291 2019-10-01   21902.39
292 2020-01-01  21706.513
293 2020-04-01  19913.143
294 2020-07-01   21647.64
295 2020-10-01  22024.502
296 2021-01-01  22600.185
297 2021-04-01  23292.362
298 2021-07-01  23828.973
299 2021-10-01  24654.603
300 2022-01-01  25029.116
301 2022-04-01  25544.273
302 2022-07-01  25994.639
303 2022-10-01  26408.405
304 2023-01-01  26813.601
305 2023-04-01  27063.012
306 2023-07-01  27610.128
307 2023-10-01  27956.998
308 2024-01-01  28284.498

In [45]:
filtered_df.loc[:,'US_GDP'] = filtered_df['US_GDP'].astype(float).copy()

In [46]:
filtered_df.loc[:,'US_GDP'] = filtered_df['US_GDP'] *1000000000
filtered_df

          DATE                 US_GDP
267 2013-10-01       17192019000000.0
268 2014-01-01  17197738000000.001953
269 2014-04-01  17518508000000.001953
270 2014-07-01       17804228000000.0
271 2014-10-01       17912079000000.0
272 2015-01-01       18063529000000.0
273 2015-04-01       18279784000000.0
274 2015-07-01       18401626000000.0
275 2015-10-01       18435137000000.0
276 2016-01-01       18525933000000.0
277 2016-04-01       18711702000000.0
278 2016-07-01       18892639000000.0
279 2016-10-01       19089379000000.0
280 2017-01-01       19280084000000.0
281 2017-04-01       19438643000000.0
282 2017-07-01       19692595000000.0
283 2017-10-01       20037088000000.0
284 2018-01-01       20328553000000.0
285 2018-04-01       20580912000000.0
286 2018-07-01       20798730000000.0
287 2018-10-01       20917867000000.0
288 2019-01-01       21104133000000.0
289 2019-04-01       21384775000000.0
290 2019-07-01       21694282000000.0
291 2019-10-01       21902390000000.0
292 2020-01-01       21706513000000.0
293 2020-04-01       19913143000000.0
294 2020-07-01       21647640000000.0
295 2020-10-01       22024502000000.0
296 2021-01-01       22600185000000.0
297 2021-04-01       23292362000000.0
298 2021-07-01       23828973000000.0
299 2021-10-01       24654603000000.0
300 2022-01-01       25029116000000.0
301 2022-04-01       25544273000000.0
302 2022-07-01       25994639000000.0
303 2022-10-01       26408405000000.0
304 2023-01-01       26813601000000.0
305 2023-04-01       27063012000000.0
306 2023-07-01       27610128000000.0
307 2023-10-01       27956998000000.0
308 2024-01-01       28284498000000.0

In [47]:
from datetime import timedelta
filtered_df.loc[:,'Date_plus_3months'] = filtered_df['DATE'] + pd.DateOffset(months=3) - timedelta(days=1)
filtered_df

/var/folders/vl/xjjnctgs1s30y4rth02ltgm00000gn/T/ipykernel_8258/3675495347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.loc[:,'Date_plus_3months'] = filtered_df['DATE'] + pd.DateOffset(months=3) - timedelta(days=1)

          DATE                 US_GDP Date_plus_3months
267 2013-10-01       17192019000000.0        2013-12-31
268 2014-01-01  17197738000000.001953        2014-03-31
269 2014-04-01  17518508000000.001953        2014-06-30
270 2014-07-01       17804228000000.0        2014-09-30
271 2014-10-01       17912079000000.0        2014-12-31
272 2015-01-01       18063529000000.0        2015-03-31
273 2015-04-01       18279784000000.0        2015-06-30
274 2015-07-01       18401626000000.0        2015-09-30
275 2015-10-01       18435137000000.0        2015-12-31
276 2016-01-01       18525933000000.0        2016-03-31
277 2016-04-01       18711702000000.0        2016-06-30
278 2016-07-01       18892639000000.0        2016-09-30
279 2016-10-01       19089379000000.0        2016-12-31
280 2017-01-01       19280084000000.0        2017-03-31
281 2017-04-01       19438643000000.0        2017-06-30
282 2017-07-01       19692595000000.0        2017-09-30
283 2017-10-01       20037088000000.0        2017-12-31
284 2018-01-01       20328553000000.0        2018-03-31
285 2018-04-01       20580912000000.0        2018-06-30
286 2018-07-01       20798730000000.0        2018-09-30
287 2018-10-01       20917867000000.0        2018-12-31
288 2019-01-01       21104133000000.0        2019-03-31
289 2019-04-01       21384775000000.0        2019-06-30
290 2019-07-01       21694282000000.0        2019-09-30
291 2019-10-01       21902390000000.0        2019-12-31
292 2020-01-01       21706513000000.0        2020-03-31
293 2020-04-01       19913143000000.0        2020-06-30
294 2020-07-01       21647640000000.0        2020-09-30
295 2020-10-01       22024502000000.0        2020-12-31
296 2021-01-01       22600185000000.0        2021-03-31
297 2021-04-01       23292362000000.0        2021-06-30
298 2021-07-01       23828973000000.0        2021-09-30
299 2021-10-01       24654603000000.0        2021-12-31
300 2022-01-01       25029116000000.0        2022-03-31
301 2022-04-01       25544273000000.0        2022-06-30
302 2022-07-01       25994639000000.0        2022-09-30
303 2022-10-01       26408405000000.0        2022-12-31
304 2023-01-01       26813601000000.0        2023-03-31
305 2023-04-01       27063012000000.0        2023-06-30
306 2023-07-01       27610128000000.0        2023-09-30
307 2023-10-01       27956998000000.0        2023-12-31
308 2024-01-01       28284498000000.0        2024-03-31

In [48]:
filtered_df = filtered_df.drop(columns=['DATE'])
us_gdp_df = filtered_df.rename(columns={'Date_plus_3months': 'Date'})
us_gdp_df

                    US_GDP       Date
267       17192019000000.0 2013-12-31
268  17197738000000.001953 2014-03-31
269  17518508000000.001953 2014-06-30
270       17804228000000.0 2014-09-30
271       17912079000000.0 2014-12-31
272       18063529000000.0 2015-03-31
273       18279784000000.0 2015-06-30
274       18401626000000.0 2015-09-30
275       18435137000000.0 2015-12-31
276       18525933000000.0 2016-03-31
277       18711702000000.0 2016-06-30
278       18892639000000.0 2016-09-30
279       19089379000000.0 2016-12-31
280       19280084000000.0 2017-03-31
281       19438643000000.0 2017-06-30
282       19692595000000.0 2017-09-30
283       20037088000000.0 2017-12-31
284       20328553000000.0 2018-03-31
285       20580912000000.0 2018-06-30
286       20798730000000.0 2018-09-30
287       20917867000000.0 2018-12-31
288       21104133000000.0 2019-03-31
289       21384775000000.0 2019-06-30
290       21694282000000.0 2019-09-30
291       21902390000000.0 2019-12-31
292       21706513000000.0 2020-03-31
293       19913143000000.0 2020-06-30
294       21647640000000.0 2020-09-30
295       22024502000000.0 2020-12-31
296       22600185000000.0 2021-03-31
297       23292362000000.0 2021-06-30
298       23828973000000.0 2021-09-30
299       24654603000000.0 2021-12-31
300       25029116000000.0 2022-03-31
301       25544273000000.0 2022-06-30
302       25994639000000.0 2022-09-30
303       26408405000000.0 2022-12-31
304       26813601000000.0 2023-03-31
305       27063012000000.0 2023-06-30
306       27610128000000.0 2023-09-30
307       27956998000000.0 2023-12-31
308       28284498000000.0 2024-03-31

In [49]:
us_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 267 to 308
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   US_GDP  42 non-null     object
 1   Date    42 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 1008.0+ bytes

In [50]:
housing_starts_df = statscanTranspose('../data/raw/economy/quarterly/canada_housing_starts_q1_2014_q1_2024_formatted.csv')
housing_starts_df

,Date,Housing starts,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing under construction,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing completions,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type
1,2014-04-30,33923.0,"11,217","22,706","2,369","3,556","16,781",201914.0,"41,050","160,864","7,911","17,515","135,438",38797.0,"16,873","21,924","2,738","3,831","15,355"
2,2014-07-31,53281.0,"21,494","31,787","4,018","6,353","21,416",210139.0,"45,036","165,103","8,589","18,954","137,560",45014.0,"17,491","27,523","3,333","4,951","19,239"
3,2014-10-31,53961.0,"23,265","30,696","3,607","5,749","21,340",216471.0,"48,765","167,706","8,888","19,496","139,322",47979.0,"19,483","28,496","3,295","5,226","19,975"
4,2015-01-31,48164.0,"19,539","28,625","3,413","5,790","19,422",214856.0,"47,350","167,506","8,456","19,245","139,805",49638.0,"20,929","28,709","3,833","6,007","18,869"
5,2015-04-30,35175.0,"10,266","24,909","2,102","3,355","19,452",194271.0,"39,903","154,368","7,671","17,497","129,200",54824.0,"16,970","37,854","2,824","5,020","30,010"
6,2015-07-31,52248.0,"19,284","32,964","3,279","6,498","23,187",200577.0,"42,584","157,993","7,770","18,873","131,350",45634.0,"16,553","29,081","3,160","4,984","20,937"
7,2015-10-31,57427.0,"20,397","37,030","2,964","5,678","28,388",210484.0,"45,739","164,745","7,785","19,448","137,512",47418.0,"17,200","30,218","2,960","5,058","22,200"
8,2016-01-31,50685.0,"18,178","32,507","2,702","6,080","23,725",213776.0,"45,044","168,732","7,166","20,661","140,905",46585.0,"18,798","27,787","3,298","4,854","19,635"
9,2016-04-30,38175.0,"11,819","26,356","1,873","3,877","20,606",208852.0,"41,086","167,766","6,488","19,202","142,076",42490.0,"15,386","27,104","2,473","5,264","19,367"
10,2016-07-31,53286.0,"19,826","33,460","3,174","6,088","24,198",216304.0,"44,202","172,102","6,865","19,848","145,389",45627.0,"16,666","28,961","2,807","5,477","20,677"
11,2016-10-31,54899.0,"21,774","33,125","2,918","6,426","23,781",220181.0,"49,178","171,003","6,958","20,527","143,518",49889.0,"16,721","33,168","2,763","5,753","24,652"
12,2017-01-31,51555.0,"20,670","30,885","2,865","6,262","21,758",221815.0,"51,108","170,707","7,021","21,721","141,965",49598.0,"18,671","30,927","2,792","4,998","23,137"
13,2017-04-30,42862.0,"12,835","30,027","2,189","5,201","22,637",220562.0,"47,001","173,561","6,682","21,980","144,899",42852.0,"16,212","26,640","2,419","4,836","19,385"
14,2017-07-31,55085.0,"21,499","33,586","3,293","6,929","23,364",230051.0,"50,792","179,259","7,482","22,982","148,795",46106.0,"17,661","28,445","2,517","5,910","20,018"
15,2017-10-31,61174.0,"23,037","38,137","3,584","8,070","26,483",239075.0,"53,771","185,304","7,741","24,360","153,203",51474.0,"19,970","31,504","3,326","6,542","21,636"
16,2018-01-31,60642.0,"19,472","41,170","3,225","7,846","30,099",248968.0,"52,500","196,468","7,814","26,372","162,282",50491.0,"20,620","29,871","3,146","5,783","20,942"
17,2018-04-30,44174.0,"11,904","32,270","2,173","4,502","25,595",245232.0,"45,559","199,673","7,187","24,642","167,844",45191.0,"16,858","28,333","2,665","6,125","19,543"
18,2018-07-31,57726.0,"19,136","38,590","3,381","5,776","29,433",251763.0,"46,993","204,770","7,558","22,887","174,325",50285.0,"17,567","32,718","2,999","7,602","22,117"
19,2018-10-31,53183.0,"18,293","34,890","2,848","6,052","25,990",251716.0,"47,187","204,529","7,270","22,502","174,757",52252.0,"18,058","34,194","3,114","6,314","24,766"
20,2019-01-31,57760.0,"16,607","41,153","2,590","7,180","31,383",255885.0,"45,809","210,076","6,995","23,093","179,988",52534.0,"17,936","34,598","2,870","6,246","25,482"
21,2019-04-30,37283.0,"8,179","29,104","1,564","4,716","22,824",250510.0,"38,107","212,403","6,054","22,337","184,012",41675.0,"15,271","26,404","2,494","5,293","18,617"
22,2019-07-31,58989.0,"15,280","43,709","2,797","6,710","34,202",260586.0,"38,025","222,561","6,343","23,040","193,178",48526.0,"15,275","33,251","2,537","5,958","24,756"
23,2019-10-31,59182.0,"17,521","41,661","2,877","6,934","31,850",267286.0,"40,968","226,318","6,473","24,074","195,771",51865.0,"14,540","37,325","2,725","5,811","28,789"
24,2020-01-31,53231.0,"14,889","38,342","2,780","6,787","28,775",274828.0,"40,563","234,265","6,624","24,726","202,915",45111.0,"15,250","29,861","2,613","6,121","21,127"
25,2020-04-30,39938.0,"9,992","29,946","1,987","4,914","23,045",270202.0,"36,887","233,315","6,215","23,644","203,456",43723.0,"13,062","30,661","2,407","5,925","22,329"
26,2020-07-31,51250.0,"13,912","37,338","2,730","5,220","29,388",274443.0,"37,078","237,365","6,545","23,078","207,742",46716.0,"13,666","33,050","2,385","5,741","24,924"
27,2020-10-31,62951.0,"17,164","45,787","2,861","6,739","36,187",279238.0,"39,555","239,683","6,392","23,331","209,960",57366.0,"14,634","42,732","2,996","6,352","33,384"
28,2021-01-31,63741.0,"18,955","44,786","3,820","6,635","34,331",292155.0,"42,779","249,376","7,408","23,563","218,405",50956.0,"15,669","35,287","2,781","6,316","26,190"
29,2021-04-30,58493.0,"15,271","43,222","2,868","5,665","34,689",302729.0,"41,960","260,769","7,569","23,650","229,550",45666.0,"14,394","31,272","2,653","5,386","23,233"
30,2021-07-31,74632.0,"24,100","50,532","4,209","7,645","38,678",316383.0,"49,384","266,999","8,660","24,739","233,600",60650.0,"16,618","44,032","3,098","6,406","34,528"
31,2021-10-31,69115.0,"22,854","46,261","3,026","7,566","35,669",324741.0,"53,833","270,908","8,420","26,464","236,024",60147.0,"18,344","41,803","3,238","5,787","32,778"
32,2022-01-31,68958.0,"19,891","49,067","3,173","7,718","38,176",337459.0,"54,207","283,252","8,403","27,659","247,190",56207.0,"19,475","36,732","3,179","6,463","27,090"
33,2022-04-30,48357.0,"12,937","35,420","2,411","5,018","27,991",335117.0,"50,488","284,629","8,079","27,706","248,844",50928.0,"16,867","34,061","2,731","5,019","26,311"
34,2022-07-31,72314.0,"20,629","51,685","3,557","8,751","39,377",352588.0,"53,633","298,955","8,768","29,922","260,265",54210.0,"17,434","36,776","2,853","6,420","27,503"
35,2022-10-31,73548.0,"21,772","51,776","2,993","8,697","40,086",367977.0,"58,353","309,624","8,713","32,841","268,070",58114.0,"17,017","41,097","2,998","5,761","32,338"
36,2023-01-31,67630.0,"17,309","50,321","2,468","7,269","40,584",378042.0,"57,195","320,847","8,373","34,210","278,264",56690.0,"18,426","38,264","2,778","5,912","29,574"
37,2023-04-30,46851.0,"10,024","36,827","1,813","5,089","29,925",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2023-07-31,64042.0,"14,902","49,140","2,655","6,212","40,273",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2023-10-31,66678.0,"15,292","51,386","2,612","6,982","41,792",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2024-01-31,62696.0,"14,398","48,298","2,360","6,940","38,998",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2024-04-30,52859.0,"9,241","43,618","2,095","4,475","37,048",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
housing_starts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 1 to 41
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           41 non-null     datetime64[ns]
 1   Housing starts                 41 non-null     float64
 2   Single-detached                41 non-null     object
 3   Multiples                      41 non-null     object
 4   Semi-detached                  41 non-null     object
 5   Row                            41 non-null     object
 6   Apartment and other unit type  41 non-null     object
 7   Housing under construction     36 non-null     float64
 8   Single-detached                36 non-null     object
 9   Multiples                      36 non-null     object
 10  Semi-detached                  36 non-null     object
 11  Row                            36 non-null     object
 12  Apartment and other unit type  36 non-null     object
 13  Housing completions            36 non-null     float64
 14  Single-detached                36 non-null     object
 15  Multiples                      36 non-null     object
 16  Semi-detached                  36 non-null     object
 17  Row                            36 non-null     object
 18  Apartment and other unit type  36 non-null     object
dtypes: datetime64[ns](1), float64(3), object(15)
memory usage: 6.2+ KB

In [52]:
housing_starts_df.loc[:,'Date_minus_1months'] = housing_starts_df['Date'] + pd.DateOffset(months=-1)
housing_starts_df = housing_starts_df.drop(columns=['Date'])
housing_starts_df = housing_starts_df.rename(columns={'Date_minus_1months': 'Date'})
housing_starts_df.head()

,Housing starts,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing under construction,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing completions,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Date
1,33923.0,"11,217","22,706","2,369","3,556","16,781",201914.0,"41,050","160,864","7,911","17,515","135,438",38797.0,"16,873","21,924","2,738","3,831","15,355",2014-03-30
2,53281.0,"21,494","31,787","4,018","6,353","21,416",210139.0,"45,036","165,103","8,589","18,954","137,560",45014.0,"17,491","27,523","3,333","4,951","19,239",2014-06-30
3,53961.0,"23,265","30,696","3,607","5,749","21,340",216471.0,"48,765","167,706","8,888","19,496","139,322",47979.0,"19,483","28,496","3,295","5,226","19,975",2014-09-30
4,48164.0,"19,539","28,625","3,413","5,790","19,422",214856.0,"47,350","167,506","8,456","19,245","139,805",49638.0,"20,929","28,709","3,833","6,007","18,869",2014-12-31
5,35175.0,"10,266","24,909","2,102","3,355","19,452",194271.0,"39,903","154,368","7,671","17,497","129,200",54824.0,"16,970","37,854","2,824","5,020","30,010",2015-03-30

In [53]:
housing_df = housing_starts_df[['Date', 'Housing starts']]
housing_df

0        Date  Housing starts
1  2014-03-30         33923.0
2  2014-06-30         53281.0
3  2014-09-30         53961.0
4  2014-12-31         48164.0
5  2015-03-30         35175.0
6  2015-06-30         52248.0
7  2015-09-30         57427.0
8  2015-12-31         50685.0
9  2016-03-30         38175.0
10 2016-06-30         53286.0
11 2016-09-30         54899.0
12 2016-12-31         51555.0
13 2017-03-30         42862.0
14 2017-06-30         55085.0
15 2017-09-30         61174.0
16 2017-12-31         60642.0
17 2018-03-30         44174.0
18 2018-06-30         57726.0
19 2018-09-30         53183.0
20 2018-12-31         57760.0
21 2019-03-30         37283.0
22 2019-06-30         58989.0
23 2019-09-30         59182.0
24 2019-12-31         53231.0
25 2020-03-30         39938.0
26 2020-06-30         51250.0
27 2020-09-30         62951.0
28 2020-12-31         63741.0
29 2021-03-30         58493.0
30 2021-06-30         74632.0
31 2021-09-30         69115.0
32 2021-12-31         68958.0
33 2022-03-30         48357.0
34 2022-06-30         72314.0
35 2022-09-30         73548.0
36 2022-12-31         67630.0
37 2023-03-30         46851.0
38 2023-06-30         64042.0
39 2023-09-30         66678.0
40 2023-12-31         62696.0
41 2024-03-30         52859.0

In [54]:
int_df = pd.read_csv('../data/raw/economy/daily/boc_interest_rates_10_year_formatted.csv')
int_df

            Date  Interest_Rate
0     2024-03-31            5.0
1     2024-03-30            5.0
2     2024-03-29            5.0
3     2024-03-28            5.0
4     2024-03-27            5.0
...          ...            ...
2696  2014-01-05            1.0
2697  2014-01-04            1.0
2698  2014-01-03            1.0
2699  2014-01-02            1.0
2700  2014-01-01            1.0

[2701 rows x 2 columns]

In [55]:
int_df['Date'] = pd.to_datetime(int_df['Date'])
int_df.loc[:,'Interest_Rate'] = int_df['Interest_Rate'].astype(float)

In [56]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2701 entries, 0 to 2700
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2701 non-null   datetime64[ns]
 1   Interest_Rate  2701 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 42.3 KB

In [57]:
int_df = int_df.sort_values(by='Date')
int_df = int_df.reset_index(drop=True)
#int_df.drop(columns=['index'], inplace=True)
int_df

           Date  Interest_Rate
0    2014-01-01            1.0
1    2014-01-02            1.0
2    2014-01-03            1.0
3    2014-01-04            1.0
4    2014-01-05            1.0
...         ...            ...
2696 2024-03-27            5.0
2697 2024-03-28            5.0
2698 2024-03-29            5.0
2699 2024-03-30            5.0
2700 2024-03-31            5.0

[2701 rows x 2 columns]

In [58]:
econ_comb = int_df.merge(economy_df, on='Date', how='outer')\
                    .merge(us_gdp_df, on='Date', how='outer')\
                    .merge(housing_df, on='Date', how='outer')

In [59]:
econ_comb

,Date,Interest_Rate,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade,US_GDP,Housing starts
0,2013-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17192019000000.0,NaN
1,2014-01-01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-03,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-04,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2733,2024-03-27,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2734,2024-03-28,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2735,2024-03-29,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2736,2024-03-30,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52859.0
2737,2024-03-31,5.0,NaN,NaN,NaN,NaN,NaN,NaN,28284498000000.0,NaN

In [60]:
econ_comb.head(32)

,Date,Interest_Rate,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade,US_GDP,Housing starts
0,2013-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17192019000000.0,NaN
1,2014-01-01,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-01-02,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-01-03,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-01-04,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-05,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-06,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2014-01-07,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2014-01-08,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2014-01-09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2014-01-10,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2014-01-11,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014-01-12,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2014-01-13,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2014-01-14,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2014-01-15,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2014-01-16,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2014-01-17,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2014-01-18,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2014-01-19,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-01-20,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2014-01-21,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2014-01-22,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2014-01-23,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2014-01-24,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2014-01-25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2014-01-26,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-01-27,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2014-01-28,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2014-01-29,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2014-01-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2014-01-31,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,NaN,NaN

In [61]:
econ_comb_ffill = econ_comb.ffill()

/var/folders/vl/xjjnctgs1s30y4rth02ltgm00000gn/T/ipykernel_8258/4217854787.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  econ_comb_ffill = econ_comb.ffill()

In [62]:
econ_final = econ_comb_ffill.bfill()

In [63]:
econ_final

,Date,Interest_Rate,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade,US_GDP,Housing starts
0,2013-12-31,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
1,2014-01-01,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
2,2014-01-02,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
3,2014-01-03,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
4,2014-01-04,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
...,...,...,...,...,...,...,...,...,...,...
2733,2024-03-27,5.0,2218374.0,158.8,124.4,65620.8,6.0,119995359.0,2.795700e+13,62696.0
2734,2024-03-28,5.0,2218374.0,158.8,124.4,65620.8,6.0,119995359.0,2.795700e+13,62696.0
2735,2024-03-29,5.0,2218374.0,158.8,124.4,65620.8,6.0,119995359.0,2.795700e+13,62696.0
2736,2024-03-30,5.0,2218374.0,158.8,124.4,65620.8,6.0,119995359.0,2.795700e+13,52859.0
2737,2024-03-31,5.0,2218374.0,158.8,124.4,65620.8,6.0,119995359.0,2.828450e+13,52859.0

In [64]:
econ_final.to_csv('../data/combined/economy_data_2014_2023.csv', index=False)

# DATA SET

In [65]:
commodity_df = pd.read_csv('../data/combined/commodity_prices_2014_2023.csv')
econ_df = pd.read_csv('../data/combined/economy_data_2014_2023.csv')
index_df = pd.read_csv('../data/combined/index_prices_2014_2023.csv')
currency_df = pd.read_csv('../data/combined/currency_prices_2014_2023.csv')
bond_df = pd.read_csv('../data/raw/economy/daily/boc_10yr_bond_price.csv')

In [66]:
bond_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2495 non-null   object
 1   price   2495 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.1+ KB

In [67]:
bond_df = bond_df.rename(columns={'date': 'Date', 'price': '10 YR Bond Yield'})

In [68]:
bond_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2495 non-null   object
 1   10 YR Bond Yield  2495 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.1+ KB

In [69]:
commodity_df

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price
0,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3
1,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3
2,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8
3,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8
4,2014-01-06,93.43,4.306,1840.25,3.3595,1238.0,1415.60,20.103,352.0
...,...,...,...,...,...,...,...,...,...
3189,2024-02-21,77.91,1.773,2219.50,3.8750,2034.3,889.60,22.874,560.5
3190,2024-02-22,78.61,1.732,2198.00,3.8970,2030.7,905.50,22.784,564.5
3191,2024-02-23,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,564.5
3192,2024-02-24,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5
3193,2024-02-25,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5

In [70]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   float64
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   float64
 6   Platinum Price     3194 non-null   float64
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.7+ KB

In [71]:
econ_df.head()

,Date,Interest_Rate,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade,US_GDP,Housing starts
0,2013-12-31,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
1,2014-01-01,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
2,2014-01-02,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
3,2014-01-03,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
4,2014-01-04,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0

In [72]:
econ_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2738 entries, 0 to 2737
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2738 non-null   object
 1   Interest_Rate    2738 non-null   float64
 2   GDP              2738 non-null   float64
 3   CPI              2738 non-null   float64
 4   HPI              2738 non-null   float64
 5   Trade Balance    2738 non-null   float64
 6   Unemployment     2738 non-null   float64
 7   Wholesale Trade  2738 non-null   float64
 8   US_GDP           2738 non-null   float64
 9   Housing starts   2738 non-null   float64
dtypes: float64(9), object(1)
memory usage: 214.0+ KB

In [73]:
index_df.head()

,Date,DAX,STOXX 50,FTSE 100,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX
0,2014-01-02,9400.04,3059.93,6717.91,4143.07,15908.88,1150.72,1831.98,13594.19
1,2014-01-03,9435.15,3074.43,6730.67,4131.91,15908.88,1156.09,1831.37,13548.86
2,2014-01-06,9428.00,3069.16,6730.73,4113.68,15908.88,1147.16,1826.77,13495.54
3,2014-01-07,9506.20,3110.96,6755.45,4153.18,15814.37,1157.63,1837.88,13596.93
4,2014-01-08,9497.84,3110.66,6721.78,4165.61,16121.45,1157.46,1837.49,13614.63

In [74]:
index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2667 non-null   object
 1   DAX           2667 non-null   float64
 2   STOXX 50      2667 non-null   float64
 3   FTSE 100      2667 non-null   float64
 4   NASDAQ        2667 non-null   float64
 5   Nikkei 225    2667 non-null   float64
 6   Russell 2000  2667 non-null   float64
 7   S&P 500       2667 non-null   float64
 8   TSX           2667 non-null   float64
dtypes: float64(8), object(1)
memory usage: 187.6+ KB

In [75]:
currency_df.head()

         Date  CADJPY  EURCAD  GBPCAD  USDCAD
0  2014-01-01   98.88  1.4640  1.7634  1.0644
1  2014-01-02   98.18  1.4589  1.7558  1.0671
2  2014-01-03   98.59  1.4452  1.7460  1.0635
3  2014-01-06   97.81  1.4522  1.7481  1.0655
4  2014-01-07   97.18  1.4658  1.7658  1.0766

In [76]:
currency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2649 entries, 0 to 2648
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2649 non-null   object
 1   CADJPY  2649 non-null   float64
 2   EURCAD  2649 non-null   float64
 3   GBPCAD  2649 non-null   float64
 4   USDCAD  2649 non-null   float64
dtypes: float64(4), object(1)
memory usage: 103.6+ KB

In [77]:
df = commodity_df.merge(econ_df, on='Date', how='outer')\
                    .merge(index_df, on='Date', how='outer')\
                    .merge(currency_df, on='Date', how='outer')\
                    .merge(bond_df, on='Date', how='outer')

In [78]:
df = df.drop(index=0)

In [79]:
df['Date'] = pd.to_datetime(df['Date'])

In [80]:
df.head(32)

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price,Interest_Rate,...,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX,CADJPY,EURCAD,GBPCAD,USDCAD,10 YR Bond Yield
1,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3,1.0,...,NaN,NaN,NaN,NaN,NaN,98.88,1.4640,1.7634,1.0644,NaN
2,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3,1.0,...,4143.07,15908.88,1150.72,1831.98,13594.19,98.18,1.4589,1.7558,1.0671,2.74
3,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
4,2014-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2014-01-06,93.43,4.306,1840.25,3.3595,1238.0,1415.60,20.103,352.0,1.0,...,4113.68,15908.88,1147.16,1826.77,13495.54,97.81,1.4522,1.7481,1.0655,2.72
7,2014-01-07,93.67,4.299,1840.25,3.3595,1229.6,1413.65,19.787,354.2,1.0,...,4153.18,15814.37,1157.63,1837.88,13596.93,97.18,1.4658,1.7658,1.0766,2.67
8,2014-01-08,92.33,4.216,1840.25,3.3425,1225.5,1416.65,19.539,356.0,1.0,...,4165.61,16121.45,1157.46,1837.49,13614.63,96.91,1.4688,1.7795,1.0819,2.72
9,2014-01-09,91.66,4.005,1840.25,3.2990,1229.4,1418.90,19.683,365.5,1.0,...,4156.19,15880.33,1158.35,1838.13,13629.41,96.70,1.4751,1.7866,1.0840,2.68
10,2014-01-10,92.72,4.053,1840.25,3.3415,1246.9,1437.35,20.223,362.2,1.0,...,4174.66,15912.06,1164.53,1842.37,13747.52,95.60,1.4892,1.7956,1.0895,2.56
11,2014-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2014-01-12,92.72,4.053,1840.25,3.3415,1246.9,1438.55,20.223,362.2,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2014-01-13,91.80,4.274,1840.25,3.3465,1251.1,1446.55,20.385,362.6,1.0,...,4113.30,15912.06,1148.09,1819.20,13681.48,94.82,1.4851,1.7795,1.0863,2.54
14,2014-01-14,92.59,4.369,1840.25,3.3360,1245.4,1429.65,20.282,361.2,1.0,...,4183.02,15422.40,1163.43,1838.88,13692.38,95.22,1.4973,1.7995,1.0945,2.57
15,2014-01-15,94.17,4.325,1840.25,3.3580,1238.3,1430.20,20.134,361.0,1.0,...,4214.88,15808.73,1171.35,1848.38,13772.58,95.62,1.4877,1.7899,1.0934,2.57
16,2014-01-16,93.96,4.382,1840.25,3.3425,1240.2,1432.20,20.054,366.7,1.0,...,4218.69,15747.20,1173.13,1845.89,13831.58,95.47,1.4890,1.7877,1.0932,2.52
17,2014-01-17,94.37,4.326,1840.25,3.3445,1251.9,1454.85,20.304,369.8,1.0,...,4197.58,15734.46,1168.43,1838.70,13888.21,95.16,1.4844,1.8005,1.0962,2.50
18,2014-01-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2014-01-19,94.37,4.326,1840.25,3.3445,1251.9,1458.80,20.304,369.8,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2014-01-20,93.93,4.293,1840.25,3.3445,1241.8,1465.80,19.870,369.8,1.0,...,4197.58,15641.68,1168.43,1838.70,13990.29,95.16,1.4836,1.7990,1.0948,2.49
21,2014-01-21,94.99,4.431,1840.25,3.3510,1241.8,1455.55,19.870,366.4,1.0,...,4225.76,15795.96,1175.72,1843.80,13951.77,95.12,1.4872,1.8068,1.0966,2.50
22,2014-01-22,96.73,4.689,1840.25,3.3370,1238.6,1459.90,19.839,367.2,1.0,...,4243.00,15820.96,1181.29,1844.86,13988.20,94.28,1.5019,1.8376,1.1086,2.48
23,2014-01-23,97.32,4.730,1840.25,3.2855,1262.3,1460.65,20.010,363.9,1.0,...,4218.88,15695.89,1172.40,1828.46,13932.97,93.02,1.5204,1.8470,1.1101,2.41
24,2014-01-24,96.64,5.182,1840.25,3.2715,1264.3,1430.15,19.765,357.4,1.0,...,4128.17,15391.56,1144.13,1790.29,13717.76,92.25,1.5166,1.8277,1.1088,2.40
25,2014-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2014-01-26,96.64,5.182,1840.25,3.2715,1264.3,1439.65,19.765,357.4,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2014-01-27,95.72,4.847,1840.25,3.2590,1263.4,1418.30,19.793,354.4,1.0,...,4083.61,15005.73,1127.73,1781.56,13582.29,92.25,1.5199,1.8435,1.1115,2.44
28,2014-01-28,97.41,5.033,1840.25,3.2530,1250.8,1411.30,19.503,351.2,1.0,...,4097.96,14980.16,1138.24,1792.50,13687.66,92.34,1.5241,1.8485,1.1150,2.42
29,2014-01-29,97.36,5.557,1840.25,3.2405,1262.2,1416.10,19.552,351.5,1.0,...,4051.43,15383.91,1122.45,1774.20,13643.22,91.56,1.5265,1.8506,1.1173,2.36
30,2014-01-30,98.23,5.011,1840.25,3.2290,1242.5,1385.30,19.126,358.9,1.0,...,4123.12,15007.06,1139.36,1794.19,13735.28,92.07,1.5124,1.8392,1.1157,2.37
31,2014-01-31,97.49,4.943,1840.25,3.2000,1239.8,1377.90,19.120,353.8,1.0,...,4103.88,14914.53,1130.88,1782.59,13694.94,91.68,1.5010,1.8291,1.1129,2.34
32,2014-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df = df.ffill()

In [82]:
df.head(5)

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price,Interest_Rate,...,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX,CADJPY,EURCAD,GBPCAD,USDCAD,10 YR Bond Yield
1,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3,1.0,...,NaN,NaN,NaN,NaN,NaN,98.88,1.4640,1.7634,1.0644,NaN
2,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3,1.0,...,4143.07,15908.88,1150.72,1831.98,13594.19,98.18,1.4589,1.7558,1.0671,2.74
3,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
4,2014-01-04,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
5,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 1 to 3263
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3263 non-null   datetime64[ns]
 1   WTI Price          3263 non-null   float64
 2   Natural Gas Price  3263 non-null   float64
 3   Aluminum Price     3263 non-null   float64
 4   Copper Price       3263 non-null   float64
 5   Gold Price         3263 non-null   float64
 6   Platinum Price     3263 non-null   float64
 7   Silver Price       3263 non-null   float64
 8   Lumber Price       3263 non-null   float64
 9   Interest_Rate      3263 non-null   float64
 10  GDP                3263 non-null   float64
 11  CPI                3263 non-null   float64
 12  HPI                3263 non-null   float64
 13  Trade Balance      3263 non-null   float64
 14  Unemployment       3263 non-null   float64
 15  Wholesale Trade    3263 non-null   float64
 16  US_GDP             3263 non-null   float64
 17  Housing starts     3263 non-null   float64
 18  DAX                3262 non-null   float64
 19  STOXX 50           3262 non-null   float64
 20  FTSE 100           3262 non-null   float64
 21  NASDAQ             3262 non-null   float64
 22  Nikkei 225         3262 non-null   float64
 23  Russell 2000       3262 non-null   float64
 24  S&P 500            3262 non-null   float64
 25  TSX                3262 non-null   float64
 26  CADJPY             3263 non-null   float64
 27  EURCAD             3263 non-null   float64
 28  GBPCAD             3263 non-null   float64
 29  USDCAD             3263 non-null   float64
 30  10 YR Bond Yield   3262 non-null   float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 790.4 KB

In [84]:
df = df.bfill()

In [85]:
df

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price,Interest_Rate,...,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX,CADJPY,EURCAD,GBPCAD,USDCAD,10 YR Bond Yield
1,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3,1.0,...,4143.07,15908.88,1150.72,1831.98,13594.19,98.88,1.4640,1.7634,1.0644,2.74
2,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3,1.0,...,4143.07,15908.88,1150.72,1831.98,13594.19,98.18,1.4589,1.7558,1.0671,2.74
3,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
4,2014-01-04,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
5,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3259,2024-03-27,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5,5.0,...,15996.82,39098.68,2016.69,5088.80,21413.15,111.42,1.4610,1.7119,1.3505,3.10
3260,2024-03-28,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5,5.0,...,15996.82,39098.68,2016.69,5088.80,21413.15,111.42,1.4610,1.7119,1.3505,3.10
3261,2024-03-29,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5,5.0,...,15996.82,39098.68,2016.69,5088.80,21413.15,111.42,1.4610,1.7119,1.3505,3.10
3262,2024-03-30,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5,5.0,...,15996.82,39098.68,2016.69,5088.80,21413.15,111.42,1.4610,1.7119,1.3505,3.10
3263,2024-03-31,76.49,1.603,2180.00,3.8800,2049.4,909.60,22.982,563.5,5.0,...,15996.82,39098.68,2016.69,5088.80,21413.15,111.42,1.4610,1.7119,1.3505,3.10

In [87]:
df.to_csv('../data/preprocessed/macro_finance_data_2014_2023.csv', index=False)