In [1]:
import pandas as pd
import numpy as np
from functions_variables import *

# COMMODITIES

In [ ]:
oil_df = create_feature_dataframe('../data/raw/commodity/Crude Oil WTI Futures create_feature_dataframe Data.csv', 'WTI Price')
ng_df = create_feature_dataframe('../data/raw/commodity/Natural Gas Futures Historical Data.csv', 'Natural Gas Price')
al_df = create_feature_dataframe('../data/raw/commodity/Aluminium Historical Data.csv', 'Aluminum Price')
copper_df = create_feature_dataframe('../data/raw/commodity/Copper Futures Historical Data.csv', 'Copper Price')
gold_df = create_feature_dataframe('../data/raw/commodity/Gold Futures Historical Data.csv', 'Gold Price')
plat_df = create_feature_dataframe('../data/raw/commodity/Platinum Futures Historical Data.csv', 'Platinum Price')
silver_df = create_feature_dataframe('../data/raw/commodity/Silver Futures Historical Data.csv', 'Silver Price')
lumber_df = create_feature_dataframe('../data/raw/commodity/Lumber Futures Historical Data.csv', 'Lumber Price')

In [ ]:
commodity_df = oil_df.merge(ng_df, on='Date', how='outer')\
                    .merge(al_df, on='Date', how='outer')\
                    .merge(copper_df, on='Date', how='outer')\
                    .merge(gold_df, on='Date', how='outer')\
                    .merge(plat_df, on='Date', how='outer')\
                    .merge(silver_df, on='Date', how='outer')\
                    .merge(lumber_df, on='Date', how='outer')

In [ ]:
commodity_df.info()

In [ ]:
commodity_df.isnull().sum()

In [ ]:
# Fill missing values
commodity_df.ffill(inplace=True)

In [ ]:
commodity_df.isnull().sum()

In [ ]:
commodity_df.bfill(inplace=True)

In [ ]:
commodity_df.isnull().sum()

Date                 0
WTI Price            0
Natural Gas Price    0
Aluminum Price       0
Copper Price         0
Gold Price           0
Platinum Price       0
Silver Price         0
Lumber Price         0
dtype: int64

In [ ]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   object
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   object
 6   Platinum Price     3194 non-null   object
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   object
dtypes: float64(4), object(5)
memory usage: 224.7+ KB

In [ ]:
def currency_to_float(currency):
    return float(currency.replace(',', ''))

In [ ]:
columns_to_convert = ['Aluminum Price', 'Gold Price', 'Platinum Price', 'Lumber Price']
commodity_df[columns_to_convert] = commodity_df[columns_to_convert].map(currency_to_float)

In [ ]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   float64
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   float64
 6   Platinum Price     3194 non-null   float64
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.7+ KB

In [ ]:
commodity_df.to_csv('../data/combined/commodity_prices_2014_2023.csv', index=False)

# CURRENCY

In [ ]:
CADJPY_df = create_feature_dataframe('../data/raw/currency/CAD_JPY Historical Data.csv', 'CADJPY')
CADEUR_df = create_feature_dataframe('../data/raw/currency/EUR_CAD Historical Data.csv', 'EURCAD')
CADGBP_df = create_feature_dataframe('../data/raw/currency/GBP_CAD Historical Data.csv', 'GBPCAD')
CADUSD_df = create_feature_dataframe('../data/raw/currency/USD_CAD Historical Data.csv', 'USDCAD')

In [ ]:
currency_df = CADJPY_df.merge(CADEUR_df, on='Date', how='outer')\
                    .merge(CADGBP_df, on='Date', how='outer')\
                    .merge(CADUSD_df, on='Date', how='outer')

In [ ]:
currency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2649 entries, 0 to 2648
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2649 non-null   object
 1   CADJPY  2648 non-null   float64
 2   EURCAD  2648 non-null   float64
 3   GBPCAD  2649 non-null   float64
 4   USDCAD  2648 non-null   float64
dtypes: float64(4), object(1)
memory usage: 103.6+ KB

In [ ]:
currency_df.isnull().sum()

Date      0
CADJPY    1
EURCAD    1
GBPCAD    0
USDCAD    1
dtype: int64

In [ ]:
currency_df.ffill(inplace=True)

In [ ]:
currency_df.isnull().sum()

Date      0
CADJPY    0
EURCAD    0
GBPCAD    0
USDCAD    0
dtype: int64

In [ ]:
currency_df.to_csv('../data/combined/currency_prices_2014_2023.csv', index=False)

# INDEX

In [ ]:
dax_df = create_feature_dataframe('../data/raw/index/DAX Historical Data.csv', 'DAX')
stoxx_df = create_feature_dataframe('../data/raw/index/Euro Stoxx 50 Historical Data.csv', 'STOXX 50')
ftse_df = create_feature_dataframe('../data/raw/index/FTSE 100 Historical Data.csv', 'FTSE 100')
nasdaq_df = create_feature_dataframe('../data/raw/index/NASDAQ Composite Historical Data.csv', 'NASDAQ')
nikkei_df = create_feature_dataframe('../data/raw/index/Nikkei 225 Historical Data.csv', 'Nikkei 225')
russell_df = create_feature_dataframe('../data/raw/index/Russell 2000 Historical Data.csv', 'Russell 2000')
sp_df = create_feature_dataframe('../data/raw/index/S&P 500 Historical Data.csv', 'S&P 500')
tsx_df = create_feature_dataframe('../data/raw/index/S&P_TSX Composite Historical Data.csv', 'TSX')

In [ ]:
index_df = dax_df.merge(stoxx_df, on='Date', how='outer')\
                    .merge(ftse_df, on='Date', how='outer')\
                    .merge(nasdaq_df, on='Date', how='outer')\
                    .merge(nikkei_df, on='Date', how='outer')\
                    .merge(russell_df, on='Date', how='outer')\
                    .merge(sp_df, on='Date', how='outer')\
                    .merge(tsx_df, on='Date', how='outer')

In [ ]:
index_df.isnull().sum()

Date              0
DAX              92
STOXX 50         63
FTSE 100        103
NASDAQ          114
Nikkei 225      160
Russell 2000    100
S&P 500         114
TSX             121
dtype: int64

In [ ]:
index_df.ffill(inplace=True)

In [ ]:
index_df.bfill(inplace=True)

In [ ]:
index_df.isnull().sum()

Date            0
DAX             0
STOXX 50        0
FTSE 100        0
NASDAQ          0
Nikkei 225      0
Russell 2000    0
S&P 500         0
TSX             0
dtype: int64

In [ ]:
index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2667 non-null   object
 1   DAX           2667 non-null   object
 2   STOXX 50      2667 non-null   object
 3   FTSE 100      2667 non-null   object
 4   NASDAQ        2667 non-null   object
 5   Nikkei 225    2667 non-null   object
 6   Russell 2000  2667 non-null   object
 7   S&P 500       2667 non-null   object
 8   TSX           2667 non-null   object
dtypes: object(9)
memory usage: 187.6+ KB

In [ ]:
def currency_to_float(currency):
    return currency.replace(',', '')

In [ ]:
index_df[index_df.columns.difference(['Date'])] = index_df[index_df.columns.difference(['Date'])].applymap(currency_to_float)

In [ ]:
index_df.to_csv('../data/combined/index_prices_2014_2023.csv', index=False)

# ECONOMY

In [ ]:
gdp_df = statscan_transpose('../data/raw/economy/monthly/canada_gdp_jan_2014_feb_2024_formatted.csv')
cpi_df = statscan_transpose('../data/raw/economy/monthly/canada_cpi_jan_2014_apr_2024_formatted.csv')
hpi_df = statscan_transpose('../data/raw/economy/monthly/canada_new_housing_price_index_jan_2014_apr_2024_formatted.csv')
trade_balance_df = statscan_transpose('../data/raw/economy/monthly/canada_trade_balance_jan_2014_mar_2024_formatted.csv')
unemployment_rate_df = statscan_transpose('../data/raw/economy/monthly/canada_unemployment_rate_jan_2014_apr_2024_formatted.csv')
wholesale_sales_df = statscan_transpose('../data/raw/economy/monthly/canada_wholesale_sales_jan_2014_mar_2024_formatted.csv')

In [ ]:
merged_df = gdp_df.merge(cpi_df, on='Date', how='inner')\
                    .merge(hpi_df, on='Date', how='inner')\
                    .merge(trade_balance_df, on='Date', how='inner')\
                    .merge(unemployment_rate_df, on='Date', how='inner')\
                    .merge(wholesale_sales_df, on='Date', how='inner')

In [ ]:
def get_feature_name(data):
    return data.columns[1]

In [ ]:
economy_df = merged_df[['Date', 
                        get_feature_name(gdp_df),
                        get_feature_name(cpi_df), 
                        get_feature_name(hpi_df),
                        get_feature_name(trade_balance_df),
                        get_feature_name(unemployment_rate_df),
                        get_feature_name(wholesale_sales_df)
                        ]]

In [ ]:
economy_df.rename(columns={'All industries  [T001] 4': 'GDP', 
                           'All-items': 'CPI', 
                           'Total (house and land)': 'HPI', 
                           'All countries': 'Trade Balance',
                           'Both sexes 15 years and over': 'Unemployment',
                           'Wolsl tr  [41]': 'Wholesale Trade'  
                           }, inplace= True)

In [ ]:
economy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             122 non-null    datetime64[ns]
 1   GDP              122 non-null    float64
 2   CPI              122 non-null    float64
 3   HPI              122 non-null    float64
 4   Trade Balance    122 non-null    float64
 5   Unemployment     122 non-null    float64
 6   Wholesale Trade  122 non-null    float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 6.8 KB

In [ ]:
us_gdp_df = pd.read_csv('../data/raw/economy/quarterly/united_states_gdp_q1_1947_q1_2024.csv')

In [ ]:
us_gdp_df['DATE'] = pd.to_datetime(us_gdp_df['DATE'])

In [ ]:
start_date = '2013-10-01'
end_date = '2024-01-01'
mask = (us_gdp_df['DATE'] >= start_date) & (us_gdp_df['DATE'] <= end_date)
filtered_df = us_gdp_df[mask]

In [ ]:
filtered_df.loc[:,'US_GDP'] = filtered_df['US_GDP'].astype(float).copy()

In [ ]:
filtered_df.loc[:,'US_GDP'] = filtered_df['US_GDP'] *1000000000

In [ ]:
from datetime import timedelta
filtered_df.loc[:,'Date_plus_3months'] = filtered_df['DATE'] + pd.DateOffset(months=3) - timedelta(days=1)

In [ ]:
filtered_df = filtered_df.drop(columns=['DATE'])
us_gdp_df = filtered_df.rename(columns={'Date_plus_3months': 'Date'})

In [ ]:
us_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 267 to 308
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   US_GDP  42 non-null     object
 1   Date    42 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 1008.0+ bytes

In [ ]:
housing_starts_df = statscan_transpose('../data/raw/economy/quarterly/canada_housing_starts_q1_2014_q1_2024_formatted.csv')

In [ ]:
housing_starts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 1 to 41
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date                           41 non-null     datetime64[ns]
 1   Housing starts                 41 non-null     float64
 2   Single-detached                41 non-null     object
 3   Multiples                      41 non-null     object
 4   Semi-detached                  41 non-null     object
 5   Row                            41 non-null     object
 6   Apartment and other unit type  41 non-null     object
 7   Housing under construction     36 non-null     float64
 8   Single-detached                36 non-null     object
 9   Multiples                      36 non-null     object
 10  Semi-detached                  36 non-null     object
 11  Row                            36 non-null     object
 12  Apartment and other unit type  36 non-null     object
 13  Housing completions            36 non-null     float64
 14  Single-detached                36 non-null     object
 15  Multiples                      36 non-null     object
 16  Semi-detached                  36 non-null     object
 17  Row                            36 non-null     object
 18  Apartment and other unit type  36 non-null     object
dtypes: datetime64[ns](1), float64(3), object(15)
memory usage: 6.2+ KB

In [ ]:
housing_starts_df.loc[:,'Date_minus_1months'] = housing_starts_df['Date'] + pd.DateOffset(months=-1)
housing_starts_df = housing_starts_df.drop(columns=['Date'])
housing_starts_df = housing_starts_df.rename(columns={'Date_minus_1months': 'Date'})
housing_starts_df.head()

,Housing starts,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing under construction,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Housing completions,Single-detached,Multiples,Semi-detached,Row,Apartment and other unit type,Date
1,33923.0,"11,217","22,706","2,369","3,556","16,781",201914.0,"41,050","160,864","7,911","17,515","135,438",38797.0,"16,873","21,924","2,738","3,831","15,355",2014-03-30
2,53281.0,"21,494","31,787","4,018","6,353","21,416",210139.0,"45,036","165,103","8,589","18,954","137,560",45014.0,"17,491","27,523","3,333","4,951","19,239",2014-06-30
3,53961.0,"23,265","30,696","3,607","5,749","21,340",216471.0,"48,765","167,706","8,888","19,496","139,322",47979.0,"19,483","28,496","3,295","5,226","19,975",2014-09-30
4,48164.0,"19,539","28,625","3,413","5,790","19,422",214856.0,"47,350","167,506","8,456","19,245","139,805",49638.0,"20,929","28,709","3,833","6,007","18,869",2014-12-31
5,35175.0,"10,266","24,909","2,102","3,355","19,452",194271.0,"39,903","154,368","7,671","17,497","129,200",54824.0,"16,970","37,854","2,824","5,020","30,010",2015-03-30

In [ ]:
housing_df = housing_starts_df[['Date', 'Housing starts']]

In [ ]:
int_df = pd.read_csv('../data/raw/economy/daily/boc_interest_rates_10_year_formatted.csv')

In [ ]:
int_df['Date'] = pd.to_datetime(int_df['Date'])
int_df.loc[:,'Interest_Rate'] = int_df['Interest_Rate'].astype(float)

In [ ]:
int_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2701 entries, 0 to 2700
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           2701 non-null   datetime64[ns]
 1   Interest_Rate  2701 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 42.3 KB

In [ ]:
int_df = int_df.sort_values(by='Date')
int_df = int_df.reset_index(drop=True)
#int_df.drop(columns=['index'], inplace=True)

In [ ]:
econ_comb = int_df.merge(economy_df, on='Date', how='outer')\
                    .merge(us_gdp_df, on='Date', how='outer')\
                    .merge(housing_df, on='Date', how='outer')

In [ ]:
econ_comb_ffill = econ_comb.ffill()

In [ ]:
econ_final = econ_comb_ffill.bfill()

In [ ]:
econ_final.to_csv('../data/combined/economy_data_2014_2023.csv', index=False)

# DATA SET

In [4]:
commodity_df = pd.read_csv('../data/combined/commodity_prices_2014_2023.csv')
econ_df = pd.read_csv('../data/combined/economy_data_2014_2023.csv')
index_df = pd.read_csv('../data/combined/index_prices_2014_2023.csv')
currency_df = pd.read_csv('../data/combined/currency_prices_2014_2023.csv')
bond_df = pd.read_csv('../data/raw/economy/daily/boc_10yr_bond_price.csv')

In [5]:
bond_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2495 non-null   object
 1   price   2495 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.1+ KB

In [6]:
bond_df = bond_df.rename(columns={'date': 'Date', 'price': '10 YR Bond Yield'})

In [7]:
bond_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2495 entries, 0 to 2494
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2495 non-null   object
 1   10 YR Bond Yield  2495 non-null   float64
dtypes: float64(1), object(1)
memory usage: 39.1+ KB

In [9]:
commodity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3194 non-null   object
 1   WTI Price          3194 non-null   float64
 2   Natural Gas Price  3194 non-null   float64
 3   Aluminum Price     3194 non-null   float64
 4   Copper Price       3194 non-null   float64
 5   Gold Price         3194 non-null   float64
 6   Platinum Price     3194 non-null   float64
 7   Silver Price       3194 non-null   float64
 8   Lumber Price       3194 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.7+ KB

In [10]:
econ_df.head()

,Date,Interest_Rate,GDP,CPI,HPI,Trade Balance,Unemployment,Wholesale Trade,US_GDP,Housing starts
0,2013-12-31,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
1,2014-01-01,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
2,2014-01-02,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
3,2014-01-03,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0
4,2014-01-04,1.0,1863035.0,123.1,94.1,41334.2,7.7,50184932.0,1.719202e+13,33923.0

In [11]:
econ_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2738 entries, 0 to 2737
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             2738 non-null   object
 1   Interest_Rate    2738 non-null   float64
 2   GDP              2738 non-null   float64
 3   CPI              2738 non-null   float64
 4   HPI              2738 non-null   float64
 5   Trade Balance    2738 non-null   float64
 6   Unemployment     2738 non-null   float64
 7   Wholesale Trade  2738 non-null   float64
 8   US_GDP           2738 non-null   float64
 9   Housing starts   2738 non-null   float64
dtypes: float64(9), object(1)
memory usage: 214.0+ KB

In [12]:
index_df.head()

,Date,DAX,STOXX 50,FTSE 100,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX
0,2014-01-02,9400.04,3059.93,6717.91,4143.07,15908.88,1150.72,1831.98,13594.19
1,2014-01-03,9435.15,3074.43,6730.67,4131.91,15908.88,1156.09,1831.37,13548.86
2,2014-01-06,9428.00,3069.16,6730.73,4113.68,15908.88,1147.16,1826.77,13495.54
3,2014-01-07,9506.20,3110.96,6755.45,4153.18,15814.37,1157.63,1837.88,13596.93
4,2014-01-08,9497.84,3110.66,6721.78,4165.61,16121.45,1157.46,1837.49,13614.63

In [13]:
index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2667 entries, 0 to 2666
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2667 non-null   object
 1   DAX           2667 non-null   float64
 2   STOXX 50      2667 non-null   float64
 3   FTSE 100      2667 non-null   float64
 4   NASDAQ        2667 non-null   float64
 5   Nikkei 225    2667 non-null   float64
 6   Russell 2000  2667 non-null   float64
 7   S&P 500       2667 non-null   float64
 8   TSX           2667 non-null   float64
dtypes: float64(8), object(1)
memory usage: 187.6+ KB

In [14]:
currency_df.head()

         Date  CADJPY  EURCAD  GBPCAD  USDCAD
0  2014-01-01   98.88  1.4640  1.7634  1.0644
1  2014-01-02   98.18  1.4589  1.7558  1.0671
2  2014-01-03   98.59  1.4452  1.7460  1.0635
3  2014-01-06   97.81  1.4522  1.7481  1.0655
4  2014-01-07   97.18  1.4658  1.7658  1.0766

In [15]:
currency_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2649 entries, 0 to 2648
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2649 non-null   object
 1   CADJPY  2649 non-null   float64
 2   EURCAD  2649 non-null   float64
 3   GBPCAD  2649 non-null   float64
 4   USDCAD  2649 non-null   float64
dtypes: float64(4), object(1)
memory usage: 103.6+ KB

In [16]:
df = commodity_df.merge(econ_df, on='Date', how='outer')\
                    .merge(index_df, on='Date', how='outer')\
                    .merge(currency_df, on='Date', how='outer')\
                    .merge(bond_df, on='Date', how='outer')

In [17]:
df = df.drop(index=0)

In [18]:
df['Date'] = pd.to_datetime(df['Date'])

In [20]:
df = df.ffill()

In [21]:
df.head(5)

,Date,WTI Price,Natural Gas Price,Aluminum Price,Copper Price,Gold Price,Platinum Price,Silver Price,Lumber Price,Interest_Rate,...,NASDAQ,Nikkei 225,Russell 2000,S&P 500,TSX,CADJPY,EURCAD,GBPCAD,USDCAD,10 YR Bond Yield
1,2014-01-01,98.70,4.232,1840.25,3.3815,1225.2,1377.05,20.128,353.3,1.0,...,NaN,NaN,NaN,NaN,NaN,98.88,1.4640,1.7634,1.0644,NaN
2,2014-01-02,95.44,4.321,1840.25,3.3815,1225.2,1402.30,20.128,353.3,1.0,...,4143.07,15908.88,1150.72,1831.98,13594.19,98.18,1.4589,1.7558,1.0671,2.74
3,2014-01-03,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
4,2014-01-04,93.96,4.304,1840.25,3.3550,1238.6,1412.45,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75
5,2014-01-05,93.96,4.304,1840.25,3.3550,1238.6,1407.30,20.211,356.8,1.0,...,4131.91,15908.88,1156.09,1831.37,13548.86,98.59,1.4452,1.7460,1.0635,2.75

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 1 to 3263
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3263 non-null   datetime64[ns]
 1   WTI Price          3263 non-null   float64
 2   Natural Gas Price  3263 non-null   float64
 3   Aluminum Price     3263 non-null   float64
 4   Copper Price       3263 non-null   float64
 5   Gold Price         3263 non-null   float64
 6   Platinum Price     3263 non-null   float64
 7   Silver Price       3263 non-null   float64
 8   Lumber Price       3263 non-null   float64
 9   Interest_Rate      3263 non-null   float64
 10  GDP                3263 non-null   float64
 11  CPI                3263 non-null   float64
 12  HPI                3263 non-null   float64
 13  Trade Balance      3263 non-null   float64
 14  Unemployment       3263 non-null   float64
 15  Wholesale Trade    3263 non-null   float64
 16  US_GDP             3263 non-null   float64
 17  Housing starts     3263 non-null   float64
 18  DAX                3262 non-null   float64
 19  STOXX 50           3262 non-null   float64
 20  FTSE 100           3262 non-null   float64
 21  NASDAQ             3262 non-null   float64
 22  Nikkei 225         3262 non-null   float64
 23  Russell 2000       3262 non-null   float64
 24  S&P 500            3262 non-null   float64
 25  TSX                3262 non-null   float64
 26  CADJPY             3263 non-null   float64
 27  EURCAD             3263 non-null   float64
 28  GBPCAD             3263 non-null   float64
 29  USDCAD             3263 non-null   float64
 30  10 YR Bond Yield   3262 non-null   float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 790.4 KB

In [23]:
df = df.bfill()

In [25]:
new_df = df[df['Date'] < '2024-02-24']

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 1 to 3263
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               3263 non-null   datetime64[ns]
 1   WTI Price          3263 non-null   float64
 2   Natural Gas Price  3263 non-null   float64
 3   Aluminum Price     3263 non-null   float64
 4   Copper Price       3263 non-null   float64
 5   Gold Price         3263 non-null   float64
 6   Platinum Price     3263 non-null   float64
 7   Silver Price       3263 non-null   float64
 8   Lumber Price       3263 non-null   float64
 9   Interest_Rate      3263 non-null   float64
 10  GDP                3263 non-null   float64
 11  CPI                3263 non-null   float64
 12  HPI                3263 non-null   float64
 13  Trade Balance      3263 non-null   float64
 14  Unemployment       3263 non-null   float64
 15  Wholesale Trade    3263 non-null   float64
 16  US_GDP             3263 non-null   float64
 17  Housing starts     3263 non-null   float64
 18  DAX                3263 non-null   float64
 19  STOXX 50           3263 non-null   float64
 20  FTSE 100           3263 non-null   float64
 21  NASDAQ             3263 non-null   float64
 22  Nikkei 225         3263 non-null   float64
 23  Russell 2000       3263 non-null   float64
 24  S&P 500            3263 non-null   float64
 25  TSX                3263 non-null   float64
 26  CADJPY             3263 non-null   float64
 27  EURCAD             3263 non-null   float64
 28  GBPCAD             3263 non-null   float64
 29  USDCAD             3263 non-null   float64
 30  10 YR Bond Yield   3263 non-null   float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 790.4 KB

In [27]:
new_df.to_csv('../data/preprocessed/macro_finance_data_2014_2023.csv', index=False)